<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      created on {{format_date created_at}}
    </div>
    <div class="text">
      {{hoursCompleted}}
    </div>
  </section>
  {{/each}}
</div>
