<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Enter Updated Goal Title:

  </h2>
  <form class="edit-goal-form">
    <div>
      <input name="goal-title" type="text" value="{{goals.objective}}" />
    </div>
    <button type="submit">Save goal</button>
    <button type="button" class="delete-goal-btn">Delete goal</button>
  </form>
</article>

</br>

<form class="log-form">
  <div>
    <textarea name="log-body"></textarea>
  </div>

  <div>
    <button type="submit">add logged hours</button>
  </div>
</form>

{{> log goals.log}}

{{#if loggedIn}}
<script src="/javascript/edit-goal.js"></script>
<script src="/javascript/delete-goal.js"></script>
<script src="/javascript/log.js"></script
{{/if}}