<div class="login-card">
    <h2 class="page-title">Enter new Goal</h2>
    <form class="form signup-form">
        <div class="form-group">
            <label for="newgoaltitle-signup">Enter Title for your goal:</label>
            <input class="form-input" type="text" id="newgoal-signup" />
        </div>

        <div class="form-group">
            <label for="message-signup">Email:</label>
            <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
            <label for="objective-signup">What is your objective?</label>
            <input class="form-input" type="text" id="message-signup" />
        </div>
        <div class="form-group">
            <label for="hours-signup">What is the estimated amount of hours to complete your goal?</label>
            <input class="form-input" type="text" id="message-signup" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">signup</button>
        </div>
    </form>
</div>
</div>

<script src="./js/login.js"></script>