<h2 class="homepage">Welcome to Goal Tracker!</h2>
</br>
<article class="homepage">With all the goals, objectives, and projects that we juggle it can be easy to become overwhelmed.  It is difficult to keep track of everything that you are working towards. That is the problem that Goal-Tracker solves.  Seeing your progress gives you the drive to succeed.</article>
</br>
